name: Go

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: oldstable

    - name: Set up ExifTool
      run: ./dist_unix.sh

    - name: Build
      run: go build -v ./...

    - name: Test
      run: go test -v ./...
